name: Pull request

on:
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  validate_format_config:
    name: Validate Format Config
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install apt dependencies
        run: sudo apt-get -qq update && sudo apt-get -qq -y install curl

      - name: Compare against swift-mmio swift-format config
        run: |
          curl -sL https://raw.githubusercontent.com/apple/swift-mmio/refs/heads/main/.swift-format -o .swift-format-mmio
          diff .swift-format .swift-format-mmio

  tests:
    name: Test
    uses: swiftlang/github-workflows/.github/workflows/swift_package_test.yml@main
    with:
      windows_exclude_swift_versions: "[{\"swift_version\": \"5.9\"}]"
      enable_macos_checks: true

  soundness:
    name: Soundness
    uses: swiftlang/github-workflows/.github/workflows/soundness.yml@main
    with:
      format_check_enabled: false # bug: https://github.com/swiftlang/swift-format/issues/1028
      shell_check_enabled: false
      yamllint_check_enabled: false
